.footer {
    border-top: 1px solid #d9d9d9;
    padding-top: 123px;
}

.footer_title {
    position: relative;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2.15px;
    text-transform: uppercase;
    color: #100e0b;
    padding-bottom: 35px;
    margin-bottom: 35px;
}

.footer_title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #57a773;
    width: 48px;
    height: 1px;
}

.footer_container {
    justify-content: space-between;
}

.footer_link {
    font-weight: 500;
    font-size: 13px;
    color: #959ea6;
    display: inline-block;
    margin-bottom: 12px;
    transition: color 0.3s;
}

.footer_link:hover {
    color: #4d5a5f;
    transition: color 0.3s;
}

.subs-form {
    width: 368px;
}

.subs-form_field {
    width: 100%;
    height: 64px;
    border-radius: 8px;
    border: 1px solid #e4e4e4;
    padding-left: 31px;
    background-image: url("../../img/user.svg");
    background-position: calc(100% - 31px) center;
    background-repeat: no-repeat;
}

.subs-form_btn {
    width: 100%;
    background-color: var(--neptune-color);
    height: 64px;
    margin-top: 16px;
    line-height: 1px;
    transition: background-color 0.3s;
}

.subs-form_btn:hover {
    background-color: var(--dark-color);
    transition: background-color 0.3s;
}

.footer_bottom {
    border-top: 1px solid #d9d9d9;
    margin-top: 117px;
    padding: 30px 0;
}

.footer_copy {
    font-size: 13px;
    color: #959ea6;
}

.bottom-container {
    justify-content: space-between;
}

.footer_links {
    display: flex;
}

.footer_links-item {
    margin-left: 45px;
}